* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
  position: sticky;
  top: 0;
}

.logo {
  color: #38bdf8;
}

.logo span {
  color: #facc15;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home span {
  color: #38bdf8;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
  font-size: 16px;
}

section {
  padding: 60px 50px;
  text-align: center;
}

.skill-box span {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #1e293b;
  border-radius: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

form {
  max-width: 400px;
  margin: auto;
}

form input, form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

footer {
  background: #020617;
  text-align: center;
  padding: 15px;
}
